{
    "jobs": [
        {
            "functionLocation": "/data-methods.js", 
            "functionName": "clearSentUsers",
            "description": "Delete rows of users we have contacted for more than the last 90 days",
            "executionConfig": {
                "cronExpression": "*/10 * * * *"
            }
        }  
       
    ]
}